<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en">


<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title><?=$this->title?></title>
	<link rel="stylesheet" type="text/css" href="styles/style.css" />
</head>
<body>
	<div class="content">
		<?=$content;?>
	</div>
	
	<h1>JavaScript</h1>
	<div id="iamge">
		<script type="text/javascript" src="/static/js/img.js"></script>
		<img src="/static/img/tree1.gif" name="myPicture" onClick="changePicture(this)" />
	</div>
</body>

</html>
